/* =============== CART PAGE LAYOUT =============== */

.cart-page {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  max-width: 93%;
  margin: 10px 20px 10px 20px ;
  padding: 0 20px;
  gap: 3%;
}

.cart-header{
  padding: 15px 40px;
}
/* Left Section */
.cart-left {
  flex: 1;
  min-width: 68%;
  border: 1px solid #E2E8F0;
  border-radius: 14px;
}

/* Right Section */
.cart-right {
  width: 25%;
  flex-shrink: 0;
  position: sticky;
  top: 30px;
  align-self: flex-start;
  height: 100%;
  min-height: 90%;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #E2E8F0;
  border-radius: 14px;
}
@media (max-width: 1024px) {
  .cart-page {
    flex-direction: column;
  }

  .cart-right {
    width: 100%;
    margin-top: 25px;
  }

  .cart-left {
    min-width: auto;
  }
}

@media (max-width: 768px) {
  .cartdetails-header,
  .cartdetails-row {
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }

  .cartdetails-subtotal,
  .cartdetails-clear {
    display: none;
  }

  .cardtotal {
    width: 100%;
  }
}
