/* Cart Right Panel Wrapper */

.cart-total-panel {
  width: 100%;
  max-width: 250px;
  margin: 10px 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
.carttotal {
  width: 100%;
  /* background: #FFFFFF;
  border: 1px solid #E2E8F0; */
  border-radius: 8px;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.cardtotal-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.cardtotal-title {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin-bottom: 7px;
    text-align: left;
}

.cardtotal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    font-size: 14px;
    color: #7b8a99;
    column-gap: 48px;
}

.cardtotal-row.total {
  font-weight: 700;
  color: #222;
  font-size: 16px;
  /* margin-top: 18px; */
}

.cardtotal-sep {
  width: 100%;
  height: 1px;
  background: #E2E8F0;
  /* margin: 18px 0 10px 0; */
}


/* New Submit Button */
.carttotal-submit-btn {
    width: 80%;
    padding: 5px 0;
    background: #ff5a00;
    color: #fff;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px auto 0 auto;
    display: block;
    transition: background 0.2s;
}
.carttotal-submit-btn:disabled {
  background: #ffb88a;
  cursor: not-allowed;
}
/* --- Center Loader --- */
.loading-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ff7f32;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* --- Success Card --- */
.success-popup-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.success-card {
  width: 320px;
  padding: 40px 28px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 40px rgba(0,0,0,0.2);
}

.success-tick {
  width: 70px;
  height: 70px;
  background: #ff7f32;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  border-radius: 50%;
  margin: auto;
}

.success-msg {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
  font-weight: 600;
}
/* Transparent grey overlay (same for loader + success popup) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);  /* light white/grey overlay */
  z-index: 90;
}
