/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 17px;
  gap: 10px;
  position: absolute;
  width: 356px;
  height: 473px;
  right: 3px;
  top: 67px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 20px 27px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  z-index: 1000;
}

/* Profile Content */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 23px;
  width: 334px;
  height: 409px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Profile Header */
.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 58px;
  width: 334px;
  height: 100px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Profile Avatar */
.profile-avatar {
  width: 77.01px;
  height: 83.78px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.profile-avatar-img {
  width: 77.01px;
  height: 83.78px;
  object-fit: contain;
}

/* Profile Header Info */
.profile-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 135px;
  height: 100px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Profile Name and Email Container */
.profile-header-info > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 135px;
  height: 55px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Profile Name */
.profile-name {
  width: 135px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #383838;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}

/* Profile Email */
.profile-email {
  width: 135px;
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #AEAEAE;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}

/* Logout Button */
.profile-logout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 2px;
  width: 85px;
  height: 25px;
  background: #F36F21;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile-logout-btn:hover {
  background: #E05E10;
}

.profile-logout-btn span {
  width: 43px;
  height: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logout-icon {
  width: 16px;
  height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Profile Details */
.profile-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 7px;
  width: 324px;
  height: 286px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Profile Labels Column */
.profile-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 162px;
  height: 286px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.profile-label {
  width: 162px;
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.387234px;
  color: #67748E;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  margin: 0;
}

/* Separator Column */
.profile-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 5px;
  height: 286px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.separator-text {
  width: 5px;
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.387234px;
  color: #67748E;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

/* Profile Values Column */
.profile-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 143px;
  height: 286px;
  flex: none;
  order: 2;
  flex-grow: 1;
}

.profile-value {
  height: 21px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.387234px;
  color: #383838;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    width: 320px;
    right: 10px;
  }

  .profile-content {
    width: 100%;
  }

  .profile-header {
    gap: 30px;
  }

  .profile-details {
    width: 100%;
  }

  .profile-label {
    font-size: 12px;
  }

  .profile-value {
    font-size: 12px;
  }
}
