html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  * {
    font-family: Inter, sans-serif !important;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

code {
  * {
    font-family: Inter, sans-serif !important;
  }
}
